## Load packages/libraries

In [1]:
import pandas as pd
import numpy as np
import os
import random

## Setup

In [2]:
cwd = os.getcwd()
pathData = os.path.abspath(os.path.join(cwd,"..","00. Data"))

## Load dataset

In [3]:
raw_df = pd.read_excel(os.path.join(pathData, "loans_mds.xlsx"), sheet_name = "Sheet1", engine = "openpyxl")
factors = raw_df.columns.to_list()
raw_df.shape

(1000, 21)

In [4]:
year_list = []
for i in range(len(raw_df)):
    year_list.append(random.random())

raw_df['YEAR_temp'] = year_list
raw_df['YEAR'] = np.where(raw_df['YEAR_temp'] <= 0.2, 2017,
                         np.where(raw_df['YEAR_temp'] <= 0.4, 2018,
                                 np.where(raw_df['YEAR_temp'] <= 0.6, 2019,
                                         np.where(raw_df['YEAR_temp'] <= 0.8, 2020, 2021))))

raw_df = raw_df.drop(columns="YEAR_temp")

In [5]:
completeness_by_year = pd.DataFrame({'Variable':factors, '2017':np.nan, '2018':np.nan, '2019':np.nan, '2020':np.nan, '2021':np.nan})

for factor in factors:
    for year in range(2017,2022):
        completeness_by_year.loc[completeness_by_year['Variable'] == factor, str(year)] = len(raw_df[factor])/len(raw_df)
        
completeness_by_year

                             Variable  2017  2018  2019  2020  2021
0                       Creditability   1.0   1.0   1.0   1.0   1.0
1                     Account Balance   1.0   1.0   1.0   1.0   1.0
2          Duration of Credit (month)   1.0   1.0   1.0   1.0   1.0
3   Payment Status of Previous Credit   1.0   1.0   1.0   1.0   1.0
4                             Purpose   1.0   1.0   1.0   1.0   1.0
5                       Credit Amount   1.0   1.0   1.0   1.0   1.0
6                Value Savings/Stocks   1.0   1.0   1.0   1.0   1.0
7        Length of current employment   1.0   1.0   1.0   1.0   1.0
8                 Instalment per cent   1.0   1.0   1.0   1.0   1.0
9                Sex & Marital Status   1.0   1.0   1.0   1.0   1.0
10                         Guarantors   1.0   1.0   1.0   1.0   1.0
11        Duration in Current address   1.0   1.0   1.0   1.0   1.0
12      Most valuable available asset   1.0   1.0   1.0   1.0   1.0
13                        Age (years)   1.0   1.0   1.0   1.0   1.0
14                 Concurrent Credits   1.0   1.0   1.0   1.0   1.0
15                  Type of apartment   1.0   1.0   1.0   1.0   1.0
16         No of Credits at this Bank   1.0   1.0   1.0   1.0   1.0
17                         Occupation   1.0   1.0   1.0   1.0   1.0
18                   No of dependents   1.0   1.0   1.0   1.0   1.0
19                          Telephone   1.0   1.0   1.0   1.0   1.0
20                     Foreign Worker   1.0   1.0   1.0   1.0   1.0

In [6]:
#raw_df.to_excel(os.path.join(pathData, 'loans_mds_year.xlsx'))