In [1]:
import pandas as pd
import numpy as np
import os

## Setup

In [2]:
cwd = os.getcwd()
pathData = os.path.abspath(os.path.join(cwd,"..","00. Data"))

## Import Data

In [3]:
raw_df = pd.read_excel(os.path.join(pathData, "loans_mds_year.xlsx"), sheet_name = "Sheet1", engine = "openpyxl")
raw_df.shape

(1000, 21)

#### Split variables in qual. & quant. type !!! Add a method to handle qual. variables binning

In [8]:
binning_group = 6

data_bin = pd.DataFrame({'Variable':[np.nan]})
for i in range(binning_group-1):
    data_bin[f"bin_{i+1}"] = np.nan


def binning_quant(data, groups, var, data_bin):
    bin_len = groups
    bin_thresholds = []
    data_bin_temp = data_bin.iloc[:1].copy()
    data_bin_temp['Variable'] = var
    for i in range(bin_len-1):
        bin_thresholds.append(data[var].quantile(1/bin_len*(i+1)))
        data_bin_temp[f'bin_{i+1}'] = data[var].quantile(1/bin_len*(i+1))
    
    data_bin = data_bin.append(data_bin_temp)

    del i, data_bin_temp
    
    return data_bin



var_list = list(raw_df.columns[1:])

for var in var_list:
    data_bin = binning(raw_df, binning_group, var, data_bin)
    
data_bin = data_bin.iloc[1:]
data_bin

                            Variable   bin_1   bin_2   bin_3   bin_4   bin_5
0                      Creditability     0.0     0.0     0.0     0.0     1.0
0                    Account Balance     1.0     2.0     2.0     4.0     4.0
0         Duration of Credit (month)    10.0    12.0    18.0    24.0    36.0
0  Payment Status of Previous Credit     2.0     2.0     2.0     3.0     4.0
0                            Purpose     0.0     1.0     2.0     3.0     6.0
0                      Credit Amount  1203.5  1554.0  2319.5  3368.0  5509.0
0               Value Savings/Stocks     1.0     1.0     1.0     2.0     5.0
0       Length of current employment     2.0     3.0     3.0     4.0     5.0
0                Instalment per cent     2.0     2.0     3.0     4.0     4.0
0               Sex & Marital Status     2.0     2.0     3.0     3.0     3.0
0                         Guarantors     1.0     1.0     1.0     1.0     1.0
0        Duration in Current address     2.0     2.0     3.0     4.0     4.0
0      Most valuable available asset     1.0     2.0     2.0     3.0     3.0
0                        Age (years)    25.0    29.0    33.0    38.0    46.0
0                 Concurrent Credits     2.0     3.0     3.0     3.0     3.0
0                  Type of apartment     1.0     2.0     2.0     2.0     2.0
0         No of Credits at this Bank     1.0     1.0     1.0     2.0     2.0
0                         Occupation     2.0     3.0     3.0     3.0     3.0
0                   No of dependents     1.0     1.0     1.0     1.0     1.0
0                          Telephone     1.0     1.0     1.0     2.0     2.0
0                     Foreign Worker     1.0     1.0     1.0     1.0     1.0
0                               YEAR  2017.0  2018.0  2019.0  2020.0  2021.0

In [ ]:
def binning_qual(data, var, data_group):
    bin_len = data[var].unique()
    bin_thresholds = []
    data_bin_temp = data_bin.iloc[:1].copy()
    data_bin_temp['Variable'] = var
    for i in range(bin_len-1):
        bin_thresholds.append(data[var].quantile(1/bin_len*(i+1)))
        data_bin_temp[f'bin_{i+1}'] = data[var].quantile(1/bin_len*(i+1))
    
    data_bin = data_bin.append(data_bin_temp)

    del i, data_bin_temp
    
    return data_bin

# How to remove NaN in a simple list?

In [23]:
#raw_df['Creditability'].iloc[0] = np.nan
raw_df['Creditability'].unique()

array([nan,  0.,  1.])